/* Général */
* {
    box-sizing: border-box;
}

body {
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
}

table {
    max-width: 100%;
}

td {
    overflow-wrap: anywhere;
}

.button_page_accueil {
    position: relative;
    left: 18%;
    top: 10px;
    margin: 0;
}

.button_page_experiences {
    position: relative;
    left: 33%;
    top: 10px;
    margin: 0;
}

.button_page_projets {
    position: relative;
    left: 49%;
    top: 10px;
    margin: 0;
}

.button_page_veille {
    position: relative;
    left: 63%;
    top: 10px;
    margin: 0;
}

.button_page_contact {
    position: relative;
    left: 77%;
    top: 10px;
    margin: 0;
} 

/* Portfolio.html */
.Titre { /* Titre Bienvenue */
    margin-top: 100px;
}

.button_acceder {
    width: 300px;
    height: 150px;
    font-size: 20px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
}